<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Temblores Chile</title>
  </head>
  <body>
    
      <div class="container">
        <h1 class="align-items-center">Últimos Temblores en Chile</h1>
        <div class="row">

        {% for dato in datos %}
            <div class="col-md-3">
              <div class="card">
                <img class="card-img-top" height="" src="{{ dato['mapa'] }}" alt="">
                <div class="card-body">
                  <h5>{{ dato['referencia'] }}</h5>
                  <p>{{ dato['magnitud'] }}</p>
                  <p>{{ dato['horaLocal'] }}</p>
                </div>
              </div>
                
            </div>
        {% endfor %}
        </div>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>
</html>
